ul, li, h2 {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* ===== Website Layout ===== */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
}

.header {
    grid-column: 2 / span 3;
    grid-row: 1 / 2;
}

.sidebar {
    grid-column: 1 / 1;
}

.main-container {
    border: 1px solid green;
    display: grid;
    grid-template-columns: repeat(2, clamp(200px, 50%, 500px));
    grid-template-rows: 40%;
    grid-column: 2 / span 3;
}

/* ===== ^ Website Layout ^ ===== */

/* ===== Header ===== */

.header {
    display: grid;
    grid-template-rows: repeat(2, clamp(50px, 50%, 300px));
    grid-template-columns: repeat(2, clamp(50px, 50%, 250px));
}

.header-row-1 {
    grid-column: span 2;
    grid-row: 1;

}

.header-row-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-row-list {
    display: flex;
    border: 1px solid blue;
    grid-row: 1;
    grid-column: 3;
    justify-content: end;
}

.bottom-row-list {
    display: flex;
    grid-row: 2;
    grid-column: 3;
    align-items: center;
    justify-content: center;
    gap: 50px;
}


/* ===== ^ Header ^ ===== */


/* ===== Sidebar ===== */

.sidebar {
    display: grid;
    border: 1px solid blue;
    row-gap: 45px;
}

.column-list-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    row-gap: 16px;
}

.column-list-2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 16px;
}

/* ===== ^ Sidebar ^ ===== */

/* ===== Main ===== */

.announcements-container {
    border: 1px solid green;
}
.trending-container {
    grid-column: 2;
}