ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* ===== Website Layout ===== */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
}

.header {
    grid-column: 2 / span 3;
    grid-row: 1 / 2;
}

.sidebar {
    grid-column: 1 / 1;
}

.main-container {
    border: 1px solid green;
    grid-column: 2 / span 3;
}

/* ===== ^ Website Layout ^ ===== */

/* ===== Header ===== */

.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.header-row-1 {
    grid-column: span 2;
    grid-row: 1;

}

.row-list {
    display: flex;
    border: 1px solid blue;
    grid-row: 1;
    grid-column: 3;
}


/* ===== ^ Header ^ ===== */

/* ===== Main ===== */

.main-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}