/* ===== Resets ===== */

ul, li, h2, p {
    list-style: none;
    padding: 0;
    margin: 0;
}

input, textarea, select, button {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* ===== ^ Resets ^ ===== */
body {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* ===== Website Layout ===== */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    grid-template-rows: 1fr 4fr;
}

.header {
    grid-column: 2 / span 3;
    grid-row: 1 / 2;
}

.sidebar {
    grid-column: 1;
    grid-row: span 2;
}

.main-container {
    display: grid;
    grid-template-areas:
    "main main announcement"
    "main main announcement"
    "main main trending"
    "main main trending";
    column-gap: 10px;
    row-gap: 10px;
}

/* ===== ^ Website Layout ^ ===== */

/* ===== Header ===== */

.header {
    display: grid;
    font-weight: 700;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr;
}

.header-row-1,
.top-row-list {
    margin-top: 10px;
}

.header-row-1 {
    grid-column: span 2;
    grid-row: 1;
    padding: 0 40px;
}

.searchbar .material-icons {
    position: relative;
    top: 6px;
}

.header input[type='text'] {
    background-color: #fce7f3;
    width: 80%;
    height: 25px;
    padding: 0 10px;
    border-radius: 15px;
    margin-left: 8px;
}

.top-row-list,
.bottom-row-list {
    margin-right: 68px;
}

.top-row-list {
    display: flex;
    grid-row: 1;
    grid-column: 3;
    justify-content: end;
    gap: 36px;
}

.top-row-list li:first-child {
    position: relative;
    top: 5px;
}

.username-text {
    position: relative;
    top: 8px;
}


.header-row-2 {
    display: flex;
    margin-left: 40px;
    gap: 16px;
    align-items: center;
}

.bottom-row-list {
    display: flex;
    grid-row: 2;
    grid-column: 3;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.profile-name {
    font-size: 22px;
}

.bottom-row-list button {
    background-color: #60a5fa;
    color: #fff;
    font-weight: 700;
    border-radius: 40px;
    width: 110px;
    height: 40px;
}

/* ===== ^ Header ^ ===== */


/* ===== Sidebar ===== */

.sidebar {
    background-color: #60a5fa;
    color: #fff;
    display: grid;
    grid-template-rows: 1fr 3fr 2fr 6fr;
    border: 1px solid blue;
}

.sidebar-header {
    font-size: 18px;
    margin-top: 10px;
    margin-left: 16px;
}

.sidebar li {
    font-weight: 700;
}
.sidebar h2 {
    display: inline-block;
    position: relative;
    right: 4px;
}

.sidebar .material-icons {
    position: relative;
    top: 8px;
    margin-right: 14px;
}

.column-list-1, 
.column-list-2 {
    margin-left: 24px;
}

.column-list-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    margin-top: 16px;
}

.column-list-2 {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: end;
}

/* ===== ^ Sidebar ^ ===== */

/* ===== Main ===== */

.main-container {
    background-color: #e5e7eb;
    padding: 30px 16px;
}

.projects-container {
    grid-area: main;
}
.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    column-gap: 4px;
    row-gap: 8px;
}

.project {
    background-color: #fff;
    border-radius: 15px;
    border-left: 8px solid #facc15;
    padding-left: 50px;
    width: 350px;
    height: 200px;
}

.project-icons {
    position: relative;
    top: 50px;
    display: flex;
    justify-content: end;
    margin-right: 16px;
    gap: 8px;
}

.announcement-grid {
    background-color: #fff;
    border-radius: 15px;
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
}

.announcement {
    border-bottom: 2px solid lightgray;
}

.announcements-container {
    grid-area: announcement;
}

.announcement:last-child {
    border: 0;
}
.trending-container {
    grid-area: trending;
}

.trending-grid {
    background-color: #fff;
    border-radius: 15px;
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
}

.trend {
    display: flex;
    padding: 10px 0;
    gap: 8px;

}

.trend p {
    color: rgb(146, 144, 144);
    font-size: 0.8rem;
    margin-top: 8px;
}